$font-family: 'Merriweather', 'Times New Roman', Times, serif;
$font-title: 'Playfair Display', 'Times New Roman', Times, serif;

$content-max-width: 720px;
$content-horizontal-padding: 15px;
$content-image-max-height: 560px;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1080px;
