@use '../../styles/mixins'as *;
@use '../../styles/variables'as *;

.page-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  max-width: $content-max-width;
  height: 60px;

  .page-header {
    display: flex;
    align-items: end;
    justify-content: space-between;


    .link {
      font-weight: 700;
      font-size: 17px;
      color: var(--primary-text-color);

      @include md {
        font-weight: 700;
        font-size: 20px;
      }
    }

    .trailing-section {
      display: flex;
      align-items: end;

      .link {
        margin-right: 10px;

        @include md {
          margin-right: 20px;
        }
      }
    }
  }
}
