@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.post-card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;

  .post-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid var(--post-card-border-color);
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: var(--primary-text-color);
    cursor: pointer;

    &:hover {
      .title {
        text-decoration: underline;
      }
    }

    .title {
      font-family: $font-title;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
      line-height: 1.3;
    }

    .description {
      font-family: $font-family;
      font-size: 14px;
      margin-bottom: 10px;
      line-height: 1.5;
      color: var(--content-text-color);
      
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    .info {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
      font-size: 12px;
      color: var(--secondary-text-color);
      font-family: sans-serif;
      text-transform: uppercase;

      .categories {
        display: flex;
        .category {
          margin-left: 4px;
          font-weight: bold;
        }
      }
    }
  }
}