@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.post-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;

  padding-bottom: 20px;
  border-bottom: 4px double var(--post-card-border-color);

  margin-top: 20px;
  margin-bottom: 40px;
  word-break: keep-all;



  .title {
    font-family: $font-title;
    font-weight: 900;
    font-size: 48px;
    color: var(--primary-text-color);
    margin-bottom: 20px;
    line-height: 1.2;
  }

  .info {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    line-height: 1.5;
    font-size: 16px;
    font-style: italic;
    color: var(--secondary-text-color);
    font-family: $font-family;

    .author {
      margin-right: 4px;
    }

    strong {
      color: var(--primary-text-color);
      font-weight: 600;
    }
  }
}