@use '../../styles/variables' as *;

.headline-post {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--primary-text-color);

  .headline-link {
    text-decoration: none;
    color: var(--primary-text-color);
    display: block;

    &:hover {
      .title {
        text-decoration: underline;
      }
    }
  }

  .headline-content {
    text-align: center;
    max-width: 800px;
    margin: 40px auto;

    .meta {
      font-size: 14px;
      color: var(--secondary-text-color);
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .title {
      font-family: $font-title;
      font-size: 40px;
      line-height: 1.2;
      margin-bottom: 20px;
    }

    .excerpt {
      font-family: $font-family;
      font-size: 18px;
      line-height: 1.6;
      color: var(--content-text-color);

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      word-break: break-word;
      overflow-wrap: break-word;
    }
  }
}
